{% set title = 'Homepage' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}

    <div class = "container">

        <h1>Coming soon...</h1>
<!--
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://staging.aecor.tn/web/image/product.template/5991/image_256/Venum%20Contender%202.0%20BJJ%20Gi?unique=21d2988" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Gi's in stock!</h5>
                <p class="card-text">Check out our latest additions from Reorg including Tactical Black and more! </p>
                <a href="#" class="btn btn-primary">Visit Out Store</a>
            </div>
        </div>
    </div>        
</div>
-->

{% block content %}
    {{ super() }}
    {{results}}
{% endblock content %}
{% endblock body %}
