{% set title = 'Passes' %}
{% extends "base_layout.html" %}
{% block body %}
{% block navbar %}
{% include '/includes/_navbar.html' %}
{% endblock navbar %}


<div class="container">
    <h2>Passes</h2>
    <ul>
        {% for move in moves %}
        {% if moves[move]['id'] in pass_ids %}
        <li>
            {{moves[move]['name']}}: {{moves[move]['description']}}
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>


{% block content %}
{{ super() }}
{{results}}
{% endblock content %}
{% endblock body %}