{% set title = 'Submissions' %}
{% extends "base_layout.html" %}
{% block body %}
{% block navbar %}
{% include '/includes/_navbar.html' %}
{% endblock navbar %}


<div class="container">
    <h2>Submissions</h2>
    <ul>
        {% for move in moves %}
        {% if moves[move]['id'] in submission_ids %}
        <li>
            {{moves[move]['name']}}: {{moves[move]['description']}}
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>
<div class="container">



</div>

{% block content %}
{{ super() }}
{{results}}
{% endblock content %}
{% endblock body %}