{% set title = 'Index v2' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}

    <div class = "container">
<h2>Basic Jinja Print</h2>
    {{ move_types }} <br>
    {{ positions }} <br>
    {{ grips }} <br>
<h2>Using a for loop</h2>
{% for position in positions  %}
{{ positions[position] }} <br>
{% endfor  %}

<h2>Again</h2>
<ul>
    {% for move_type in move_types  %}
    <h3>{{ move_type }}</h3>
    {% for move in move_types[move_type]  %}
    <li>{{ move_types[move_type][move].name }}: {{ move_types[move_type][move].description }}</li>
    <ul>
        {% for position_name in move_types[move_type][move]['positions']  %}
        {% set position=positions[position_name] %}
        <li>
            {% if administrator %}
            <a href="delete_entry?position_id={{position.id}}">Delete</a> <a href="update_entry?position_id={{position.id}}">Update</a>
            {% endif %}
            {{ position.name }}: {{ position.description }}  
        </li>
        {% endfor  %}

        {% for grip_name in move_types[move_type][move]['grips'] %}
        {% set grip=grips[grip_name]  %}
        <li>
            {% if administrator %}
            <a href="delete_entry?grip_id={{grip.id}}">Delete</a> <a href="update_entry?grip_id={{grip.id}}">Update</a>
            {% endif %}
            {{ grip.name }}: {{ grip.description }}
        </li>
        {% endfor %}
    </ul>

    {% endfor  %}
    {% endfor  %}
</ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://staging.aecor.tn/web/image/product.template/5991/image_256/Venum%20Contender%202.0%20BJJ%20Gi?unique=21d2988" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Gi's in stock!</h5>
                <p class="card-text">Check out our latest additions from Reorg including Tactical Black and more! </p>
                <a href="#" class="btn btn-primary">Visit Out Store</a>
            </div>
        </div>
    </div>        
</div>


{% block content %}
    {{ super() }}
    {{results}}
{% endblock content %}
{% endblock body %}
