<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our first page</h1>
    <a href="/second_page">Visit our second page....</a>
    <form action="" method="post">
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" value="Peter"><br>
        <input type="submit" value="Submit">
    </form>
    {{ form_package }}
    {{ url_arguments }}
</body>
</html>

