{% set title = 'Index v2' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}

    <div class = "container">
<h2>Basic Jinja Print</h2>
    {{ moves }} <br>
    {{ positions }} <br>
    {{ grips }} <br>
    {{ move_types }}
<h2>Using a for loop</h2>
{% for position in positions  %}
{{ positions[position] }} <br>
{% endfor  %}

<h2>Again</h2>
<ul>
    
    {% for move_id in moves %}
    <h3>{{ moves[move_id].name }} : {{ moves[move_id].description }}</h3>
    {% endfor %}
    {% for position_id in positions %}
    <h3>{{ positions[position_id].name }} : {{ positions[position_id].description }}</h3>
    {% endfor %}
    {% for grip_id in grips %}
    <h3>{{ grips[grip_id].name }} : {{ grips[grip_id].description }}</h3>
    {% endfor %}

</ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://staging.aecor.tn/web/image/product.template/5991/image_256/Venum%20Contender%202.0%20BJJ%20Gi?unique=21d2988" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Gi's in stock!</h5>
                <p class="card-text">Check out our latest additions from Reorg including Tactical Black and more! </p>
                <a href="#" class="btn btn-primary">Visit Out Store</a>
            </div>
        </div>
    </div>        
</div>


{% block content %}
    {{ super() }}
    {{results}}
{% endblock content %}
{% endblock body %}
