{% set title = 'New Content' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}
<div class = "container">
    <h2>{{ entry }}</h2>    
    <form method="post" action='new_content'>
        {% if entry == "Enter a new move:" %}
        <label>Move type: </label>
        <select id="move_type" name="move_type">
            {% for move_type in move_types %}
            <option value="{{ move_types[move_type].name }}">{{ move_types[move_type].name }}</option>
            {% endfor %}
        </select> <br>
        <label>Position: </label>
        <select id="position" name="position">
            {% for position in positions %}
            <option value="{{ position }}">{{ positions[position].name }}</option>
            {% endfor %}
        </select><br>
        <label>Grip: </label>
        <select id="grip" name="grip">
            {% for grip in grips %}
            <option value="{{ grip }}">{{ grips[grip].name }}</option>
            {% endfor %}
            </select><br>
        {% endif %}
        <label>Name: </label>
        <input type="text" id="name" name="name"/> <br>
        <label>Description: </label>
        <input type="text" id="description" name="description"/> <br>        
        <input type="submit" value="submit" />
        <input type="hidden" id="grip_id" name="grip_id" value="{{ grip_id }}">
        <input type="hidden" id="position_id" name="position_id" value="{{ position_id }}">
        <input type="hidden" id="move_id" name="move_id" value="{{ move_id }}">
    </form>

</div>
    {% block content %}
        {{ super() }}
        {{results}}
    {% endblock content %}
    {% endblock body %}
    