{% set title = 'Submissions' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}


    <div class = "container">
        <h2>Submissions</h2>
        <ul>
        {% for move in moves  %}
        <li>
            {{ grips[grip].name }} : {{ grips[grip].description }}
        </li>
        {% endfor %}
        </ul>

    </div>


    {% block content %}
        {{ super() }}
        {{results}}
    {% endblock content %}
{% endblock body %}
        