<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="Observations.js"></script>
</head>

<body>
    <script>
        const observations = new Observations();
        console.log(observations.observations)
    </script>
    <div id="app">
        <div id="display_observations" v-for="(value, key) in encodedObservation">
            {{ key }} - {{ value }}
        </div>
        <div v-for="observation in encodedObservations">
            {{ observation.date }} - {{ observation.encodedObservation }}
            <button @click="deleteObservation(encodedObservations.indexOf(observation))">Delete Observation</button>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>