<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index_v2">
        <img src="https://cdn-icons-png.flaticon.com/512/3081/3081047.png" width='30' height='30' alt="...">
        BJJ Wiki
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index_v2">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="submissions">Submissions</a></li>
              <li><a class="dropdown-item" href="sweeps">Sweeps</a></li>
              <li><a class="dropdown-item" href="escapes">Escapes</a></li>
              <li><a class="dropdown-item" href="passes">Passes</a></li>
              <li><a class="dropdown-item" href="modify_grips">Manage Grips</a></li>
              <li><a class="dropdown-item" href="modify_positions">Manage Positions</a></li>
              <li><a class="dropdown-item" href="modify_moves">Manage Moves</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">BJJ News</a></li>
              <li><a class="dropdown-item" href="login">Login</a></li>
              <li><a class="dropdown-item" href="sign_up">Sign Up</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  
  