<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index_v2">
        <img src="https://cdn-icons-png.flaticon.com/512/3081/3081047.png" width='30' height='30' alt="...">
        BJJ Wiki
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index_v2">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="full_guard">Full Guard</a></li>
              <li><a class="dropdown-item" href="bjj">Half Guard</a></li>
              <li><a class="dropdown-item" href="#">Side Control</a></li>
              <li><a class="dropdown-item" href="#">Full Mount</a></li>
              <li><a class="dropdown-item" href="#">X-Guard</a></li>
              <li><a class="dropdown-item" href="#">De La Riva Guard</a></li>
              <li><a class="dropdown-item" href="#">Open Guard</a></li>
              <li><a class="dropdown-item" href="#">Butterfly Guard</a></li>
              <li><a class="dropdown-item" href="#">Turtle</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">BJJ News</a></li>
              <li><a class="dropdown-item" href="login">Login</a></li>
              <li><a class="dropdown-item" href="new_content">Add New Content</a></li>
              <li><a class="dropdown-item" href="sign_up">Sign Up</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  
  